
  <header>
        <nav class="main-nav">
            <h1>ACCIÓN DESTACADA DE LA BATERÍA “B” DEL GADA 101 EN LA PENÍNSULA DE CAMBER.</h1>
            <h3>Por el Grl Br (R) Héctor Lubín ARIAS (*) (**)</h3>
        </nav>
  </header>

  <section class="container">
        <div class="item item1">
                    <p>
                        El 27 de abril de 1982, el Grupo de Artillería de Defensa Aérea 601 (+) (GADA 601 (+)), a mis órdenes, había
                        finalizado su despliegue en los alrededores de Puerto Argentino. Su misión era proteger contra los ataques
                        aéreos a la posición de defensa, integrándose en un sistema común con los medios antiaéreos de la Armada (ARA) y
                        de la Fuerza Aérea (FAA). Se preveía que la Fuerza de Tareas (FT) británica iniciaría operaciones sobre las
                        islas en cualquier momento y que el objetivo prioritario sería la pista de aterrizaje del aeropuerto o Base
                        Aérea Militar Malvinas (BAM). Ese mismo día llegó a Puerto Argentino la Batería “B” del Grupo de Artillería de
                        Defensa Aérea 101 (B/GADA 101) (Ciudadela), a órdenes del Mayor Jorge Alberto Monge, cuyo personal fue
                        transportado por medios aéreos desde Comodoro Rivadavia.
                    </p>
                    <div>
                        <img class="image-p" src="/imagenes/barcoriocarcaraña.jpg" alt="barco rio carcaraña">
                    </div>
                    <p>
                        El material (Cañones de 30mm Hispano Suizos, vehículos, munición, combustible y elementos de mantenimiento) se
                        encontraban a bordo del buque transporte mercante “Río Carcarañá”, surto en el muelle de Puerto Argentino, a la
                        espera de ser descargado por el personal de la Subunidad. La descarga se había demorado porque el muelle estaba
                        ocupado por una actividad similar del buque transporte mercante “Formosa” encontrándose el personal de esta
                        Batería precariamente alojado en unos contenedores que se encontraban cercanos al Puerto.
                    </p>
                    <div>
                        <img class="image-p" src="/imagenes/cañonesgada.jpg" alt="cañones del gada 101">
                    </div>
                    <p>
                        Así las cosas, el sábado 1 de mayo se iniciaron los ataques enemigos sobre la Isla Soledad, disponiéndose
                        entonces como medida de seguridad que ambas embarcaciones abandonaran la zona de Puerto Argentino navegando
                        hacia el Estrecho de San Carlos, para alejarlos de lo que se suponía constituía el objetivo de los ataques
                        aéreos y navales enemigos. Si bien esto último era cierto, la medida fue un error que también se cometería luego
                        con los propios helicópteros, ya que la única zona eficazmente protegida por la Artillería de Defensa Aérea
                        (ADA), en la que los aviones británicos evitarían los vuelos a baja altura como quedó demostrado a lo largo de
                        toda la campaña, era la de Puerto Argentino. El hecho es que la referida Batería se quedó en Puerto Argentino
                        sin sus cañones y otros efectos esenciales, por lo que su Jefe debió trasladarse en la pequeña embarcación
                        “Monsunem” hacia San Carlos para recuperar su material, parte del cual se encontraba en el transporte ARA “Isla
                        de los Estados” hundido posteriormente por una fragata enemiga.
                    </p>
                    <div>
                        <img class="image-p" src="/imagenes/monsumenbarco.jpg" alt="barco monsumen">
                    </div>
                    <p>
                        El día 7 de mayo, regresó el Jefe de la B/GADA 101 con su material quedando a partir de ese momento agregado al
                        Grupo bajo mi comando. Hasta ese día, el despliegue de los medios de Artillería de Defensa Aérea o Antiaéreos
                        alrededor de Puerto Argentino permitía combatir con aceptable eficacia los ataques aéreos enemigos, sin embargo
                        me preocupaba el sector N del dispositivo por cuanto en las incursiones realizadas el 1º de mayo, los
                        Sea–Harriers británicos, volando al ras del mar, ocultos a la detección del radar, aparecían sorpresivamente
                        para atacar la pista de aterrizaje por lo que resolví cubrir esa avenida de aproximación ordenándole al Mayor
                        Monge que reconociera y ocupara posiciones en las alturas de la Península de Camber, con la misión principal de
                        neutralizar los ataques aéreos que empleaban esa forma de aproximación a fin de incrementar la eficacia del
                        sistema. La entrada en posición se realizó dificultosamente, durante dos días por medio de helicópteros,
                        prestando la Subunidad durante el resto de las operaciones desde el punto de vista de la defensa aérea, valiosos
                        servicios, debiendo asumir también otra importante responsabilidad.
                    </p>
                    <div>
                        <img class="image-p" src="/imagenes/transportecañon.jpg" alt="helicotero descargando un cañon">
                    </div>
        </div>
        <div class="item item2">
                <p>
                    A fines del mes de mayo, habiéndose producido ya el desembarco inglés en San Carlos y el Combate de Darwin – Pradera
                    del Ganso, el comandante (Cte.) de la Agrupación Ejército “Puerto Argentino” (Agr. Ej. Pto. Arg.), el extinto Grl.
                    Br. Jofre, introdujo modificaciones en el dispositivo de defensa con vistas a enfrentar un ataque enemigo desde el
                    O, ordenándole a través mío al My. Monge, que con las tropas a sus órdenes (B/GADA 101, 1 sección de Infantería de
                    Marina orgánica el BIM 2 (***) y otros elementos de la Armada agregados), se constituyera en el Subsector Plata 3
                    (Península de Camber) integrando el Sector Plata, constituido por el Regimiento de Infantería Mecanizado 7 (RI Mec.
                    7), sin perjuicio de su misión como ADA. Esta nueva misión le implicaba a la Batería proteger la retaguardia del RI
                    Mec. 7 defendiendo el Subsector. <br>
                    <br>
                    El día 13 de junio se inició con ataques de Harriers, artillería naval y artillería de campaña enemiga. La noche
                    anterior habían caído en poder de los británicos las posiciones de los montes Harriet, Dos Hermanas, Longdon; el
                    cerco táctico se estrechaba sobre Puerto Argentino y la Artillería de campaña inglesa estaba en condiciones de batir
                    la totalidad de la propia posición incluido el aeropuerto. Indudablemente se vivían los momentos decisivos. Durante
                    el día el hostigamiento fue permanente mientras el Cdo Agr. Ej. Pto. Argentino reorganizaba el dispositivo de la
                    defensa para resistir la embestida final. Esa noche del 13 al 14 de junio, las Brigadas 3ra de Comandos (IM) y 5ta
                    de paracaidistas británicas iniciaron el asalto final a la posición de Puerto Argentino con un impresionante fuego
                    de preparación, con todos sus medios disponibles (Artillería de Campaña, Naval, Morteros pesados (Mor Pes),
                    Vehículos de Combate), y avanzaron sobre las alturas de Wireless Ridge (RI Mec. 7) y los Montes Tumbledown y
                    Williams (BIM 5). Nuestra artillería de Campaña no cesaba de hacer fuego procurando detener el ataque enemigo y la
                    propia Infantería se batía duramente tratando de mantener las últimas posiciones. Aproximadamente a las 2300 horas,
                    personal de la B/GADA 101 detectó la presencia de tres lanchas en la costa N de la Península de Camber, a escasos
                    700 metros de las posiciones de fuego. <br>
                    Inmediatamente el Mayor Monge ordenó abrir fuego a sus armas automáticas (Amet 12,7mm y MAG 7,62mm) y a los cañones
                    antiaéreos de 30 mm en tiro terrestre, al tiempo que informó al Cdo. Agr. Ej. Pto. Argentino la situación que se
                    vivía. El Cdo Agr Ej Pto Arg ordenó el desplazamiento de las Compañías de Comandos 601 y 602 a la referida península
                    y simultáneamente dispuso alertar a las Secciones Mor Pes de los RI Mec 6 y 25 para efectuar fuegos sobre la zona de
                    acción, los que más tarde se realizaron. A las 0100 horas el My Monge informó que las tropas enemigas que habían
                    intentado el desembarco se alejaban de la costa luego de sufrir bajas y la pérdida de una embarcación. La situación
                    en su Subsector estaba controlada, no obstante continuó el pasaje de ambas compañías de Comandos para efectuar un
                    rastrillaje de la zona en cuyas proximidades se encontraba el Buque Hospital ARA“Bahía Paraíso”, el que con sus
                    reflectores, durante el combate, apoyó a la Batería iluminando con sus faros rastreadores y trasmitiendo
                    información.
                </p>
                <div>
                    <img class="image-p" src="/imagenes/Buque Hospital.jpg" alt="Buque Hospital ARA Bahía Paraíso">
                </div>
        </div>
        <div class="item item3">
                <p>
                    Los corresponsales británicos Hastings y Jenkins (1) relatan así esta acción:
                    <br>
                    <br>
                    <i>“En la noche del 12 de junio cuatro hombres del Escuadrón de Ataque de los Infantes de Marina, cuyo Jefe era el
                        Capitán
                        Chris Baxter, desembarcaron en la isla Kidney, al NO de Wireless Ridge. Se mantuvieron ocultos durante el día y
                        en la
                        noche del 13 salieron para cumplir una rápida gira de ataque a las posiciones enemigas con el confín E de
                        Wireless
                        Ridge. Ya en ruta, se les sumaron veinte hombres del Escuadrón D SAS que había cumplido el ataque a la Isla
                        Pebble (2) y
                        un equipo SBS (3) la partida estaba apoyada por sesenta hombres de los Escuadrones D y G que darían cobertura
                        cercana de
                        fuego de mortero, Milán y GPMG (4) desde la orilla norte de la caleta, apenas tocaron la playa se descargó sobre
                        ellos
                        fuego abrumador de artillería antiaérea. Los vehículos (5) del Escuadrón de Ataque fueron alcanzados y dañados y
                        la
                        partida debió batirse en retirada hasta lugar seguro. Un barco hospital argentino encendió inmediatamente sus
                        faros
                        rastreadores e iluminó el área. Antes de que la partida pudiera ponerse a cubierto, dos SAS y un SBS fueron
                        heridos”.</i>
                    <br>
                    <br>
                    <p>
                        Mientras tanto continuaba el combate en Camber, las tropas británicas que intentaron la incursión se replegaron en
                        dos lanchones habiendo perdido el tercero. La 4ta pieza de la 1ra sección de la Batería comienza a recibir un
                        intenso fuego de ametralladoras y morteros desde el N (orilla opuesta). El resto de la sección de inmediato bate con
                        sus armas esa zona silenciando el fuego enemigo. En esos momentos el Mayor Monge recibe la orden de ejecutar fuego
                        terrestre sobre el Sector N O (posiciones del RI Mec. 7) ya conquistado por el enemigo, tarea que ejecuta con la
                        Segunda Sección de la Batería. De las cuatro piezas de 30mm de esa Sección, tres de ellas quedan fuera de servicio,
                        continuando el fuego con la restante durante varias horas más en apoyo de los sensiblemente disminuidos efectivos
                        del RI Mec 7 que habían iniciado su repliegue.A las 0115 aproximadamente, arriban las dos Compañías Comandos
                        dirigiéndose hacia el O para efectuar un rastrillaje y apoyar al RI Mec 7. Todo el subsector Plata 3 recibía intenso
                        fuego de artillería naval y de campaña enemiga. La 2da Sección (más al O), con mayor intensidad, al punto que debió
                        replegarse hacia el O junto a las dos Compañías de Comandos. Durante este movimiento sufriría seis bajas, dos
                        muertos (los S/C Romero y Planes) y cuatro heridos. A las 1000 horas del 14 de junio, la intensidad del fuego que
                        había disminuido progresivamente desde las 0830 horas cesaba por completo, produciéndose un impresionante silencio
                        en el campo de combate,. solo interrumpido por aislados tableteos de ametralladora en algún sector o el
                        característico zumbido de los helicópteros detrás de las líneas enemigas. Alrededor de las 1100 horas el Cte Agr Ej
                        Pto Arg ordenó “permanecer alerta en las posiciones sin abrir el fuego, a menos que las mismas fueran atacadas”,
                        alertando también sobre el probable ingreso en el espacio aéreo sobre Puerto Argentino de un helicóptero británico,
                        con ciertas señales identificatorias, el que no debía ser derribado. No hacia falta que se explicaran mas detalles,
                        era evidente que se había acordado un alto el fuego y las fuerzas iban a parlamentar. Era el preludio de algo en lo
                        que nadie antes había pensado... la capitulación. Cerca del mediodía recibí una comunicación del My Monge quien me
                        informa que importantes efectivos ingleses avanzaban desplegados desde el O hacia su posición en el extremo E de la
                        península, apreciaba su magnitud en un Batallón que identificaba como paracaidistas y que se encontraban ya
                        aproximadamente a 1000 metros. Si bien ya había recibido la orden de no abrir el fuego, en ese momento solicitó
                        autorización para hacerlo. <br>
                        <br>
                        Confieso que me conmovió esta valiente actitud, en esa pequeña lengua de tierra, con el mar a sus espaldas, había no
                        más de 60 hombres extenuados no sólo por no haber pegado un ojo durante las últimas 48 horas o más, sino agotados
                        física y psíquicamente por días y días de frío, lluvias, vientos helados y deficiente alimentación y que habían
                        soportado diariamente ataques aéreos y de la artillería naval y terrestre.
                        Un puñado de hombres cuyas principales armas (los cañones de 30 mm) ya estaban en un 80% fuera de servicio y con
                        muertos y heridos que no podían evacuar. Recordé en ese momento, al cadete Monge, cuando allá por el año 1966,
                        resignaba a diario unas horas de sueño para que su Oficial Instructor del Colegio Militar le enseñase los rudimentos
                        esenciales de la esgrima, pues, la Artillería quería ganar el Torneo Deportivo del Cadete. Ahora estaba aferrado a
                        una porción de la Soberanía Nacional que le habían dado la responsabilidad de defender. Lógicamente el mantenimiento
                        de ella a costa de un sacrificio nada aportaría al resultado de la Batalla que ya estaba decidido. Así lo entendió
                        el Cdo Agr Ej Pto Arg que ante mi comunicación, dispuso el envío de dos embarcaciones para evacuar hacia Puerto
                        Argentino a los heroicos integrantes de la B/GADA 101 y a los igualmente heroicos Infantes de Marina que los
                        acompañaban.
                    </p>
                </p>
        </div>
        <div class="item item4">
                <div>
                    <ol>
                        <li>“La Batalla por las Islas Malvinas”. Ed Emecé</li>
                        <li>SAS Special Air Service. Tropas comando de Ejército británico, que ejecutaron un golpe de mano en la Isla
                            Pebble (Borbón) destruyendo varios aviones estacionados en dicha base.</li>
                        <li>SBS. Special B Service. Tropas comando de la Royal Navy.</li>
                        <li>GPMG. Ametralladora calibre 7,62 mm.</li>
                        <li>3 Lanchones.</li>
                    </ol>
                </div>
                <div>
                    <p>
                        (*) Durante la guerra de Malvinas se desempeñó como Jefe del Grupo de Artillería de Defensa Aérea 601 (+),
                        actualmente Grupo de Artillería Antiaéreo 601 “Tte Grl Pablo Riccheri” y en la actualidad como Presidente de la
                        Comisión del Arma de Artillería “Santa Bárbara” y es socio activo de nuestra entidad. <br>
                        <br>
                        (**) Como consecuencia de la reestructuración del Ejército, el GADA 101 fue reducido a Núcleo en 1991 y
                        finalmente disuelto en diciembre de 1996. <br>
                        <br>
                        (***) Se desempeñaba como Jefe de la Sección de Infantería de Malvinas el entonces teniente de Corbeta IM Hector
                        Gazzolo.
                        <br>
                        <br>
                        <b>Hoy museo histórico del ejercito.</b> 
                    </p>
                </div>
        </div>             
  </section>
  
