<footer>
  <div class="contenedor-footer">
    <div class="content-footer"></div>
    <div class="content-foo">
      <span
        ><a
          class="fab fa-facebook-square"
          target="_blank"
          href="https://www.facebook.com/Comisi%C3%B3n-de-Homenaje-GADA-101-Bater%C3%ADa-B-576913029071289/"
        ></a
      ></span>
    </div>

    <div class="content-foo">
      <span
        ><a
          class="fab fa-instagram-square"
          target="_blank"
          href="https://www.instagram.com/bateriabgada101/?utm_medium=copy_link"
        ></a
      ></span>
    </div>

    <div class="content-foo">
      <h4>Email</h4>
      <p>Malvinasale82@gmail.com</p>
    </div>

    <div class="content-foo">
      <h4>Contactanos</h4>
      <p>Para charlas escolares</p>
    </div>
  </div>
  <h2 class="titulo-final">Malvinas | Por Siempre Argentinas!</h2>
</footer>
